@font-face {
  font-family: black;
  src: url(../../public/fonts/Poppins-Black.ttf);
}

@font-face {
  font-family: bold;
  src: url(../../public/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: extra-bold;
  src: url(../../public/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: extra-light;
  src: url(../../public/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: light;
  src: url(../../public/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: medium;
  src: url(../../public/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: regular;
  src: url(../../public/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: semi-bold;
  src: url(../../public/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: thin;
  src: url(../../public/fonts/Poppins-Thin.ttf);
}
